<a href="https://colab.research.google.com/github/dscoool/waterai/blob/main/chatgpt_is_coding_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

User
https://github.com/dscoool/waterai/blob/main/kerala.csv 이 파일을 이용하여 KNN 머신러닝을 수행하는 파이썬 프로그램을 작성하시오

KNN (K-Nearest Neighbors) 알고리즘을 사용하여 'kerala.csv' 파일을 기반으로 머신러닝을 수행하는 파이썬 프로그램을 작성해보겠습니다. KNN은 주어진 데이터 포인트와 가장 가까운 이웃들의 레이블을 기반으로 예측을 수행하는 지도 학습 알고리즘입니다.

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# 데이터 불러오기
data = pd.read_csv('http://github.com/dscoool/waterai/blob/main/kerala.csv') # 데이터 경로 수정

# 특성과 타겟 데이터 설정
X = data.drop('RainTomorrow', axis=1) # X = data.iloc[:,1:14]
y = data['RainTomorrow'] # y = data['FLOODS']

# 데이터 전처리
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# 훈련 세트와 테스트 세트로 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# KNN 모델 생성 및 학습
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

# 테스트 세트로 예측 수행
y_pred = knn.predict(X_test)

# 정확도 평가
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

ParserError: ignored

In [1]:
data

NameError: ignored

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [10]:
# 데이터 불러오기
data = pd.read_csv('https://raw.githubusercontent.com/dscoool/waterai/main/kerala.csv')

In [20]:
data

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,KERALA,2014,4.6,10.3,17.9,95.7,251.0,454.4,677.8,733.9,298.8,355.5,99.5,47.2,3046.4,YES
114,KERALA,2015,3.1,5.8,50.1,214.1,201.8,563.6,406.0,252.2,292.9,308.1,223.6,79.4,2600.6,NO
115,KERALA,2016,2.4,3.8,35.9,143.0,186.4,522.2,412.3,325.5,173.2,225.9,125.4,23.6,2176.6,NO
116,KERALA,2017,1.9,6.8,8.9,43.6,173.5,498.5,319.6,531.8,209.5,192.4,92.5,38.1,2117.1,NO
117,KERALA,2018,29.1,52.1,48.6,116.4,183.8,625.4,1048.5,1398.9,423.6,356.1,125.4,65.1,4473.0,YES

In [24]:
# 특성과 타겟 데이터 설정
X = data.iloc[:,1:14]
y = data['FLOODS']

In [26]:

# 데이터 전처리
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [27]:

# 훈련 세트와 테스트 세트로 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [28]:

# KNN 모델 생성 및 학습
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [30]:

# 테스트 세트로 예측 수행
y_pred = knn.predict(X_test)

In [31]:

# 정확도 평가
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7916666666666666

위의 코드는 다음 라이브러리를 사용합니다:

pandas (데이터 처리)
sklearn (머신러닝 모델 및 평가)
프로그램의 주요 단계는 다음과 같습니다:

pandas를 사용하여 'kerala.csv' 파일을 불러옵니다.
불러온 데이터에서 특성(X)과 타겟(y)을 설정합니다.
StandardScaler를 사용하여 특성 데이터를 표준화합니다.
train_test_split을 사용하여 데이터를 훈련 세트와 테스트 세트로 분할합니다.
KNeighborsClassifier를 사용하여 KNN 모델을 생성하고 훈련 세트로 학습합니다.
학습된 모델을 사용하여 테스트 세트의 예측을 수행합니다.
accuracy_score를 사용하여 예측의 정확도를 평가하고 출력합니다.
주의: 위의 코드에서는 KNN 모델의 이웃 수를 5로 설정하였으나, 이는 사용자가 필요에 따라 조정할 수 있습니다. 또한, 코드 실행 전에 'kerala.csv' 파일이 현재 작업 디렉토리에 있는지 확인해야 합니다.