안녕하세요 여러분?

이번 시간에는 WATER QUALITY 데이터 분석을 해 보도록 하겠습니다.

* 파이썬 코드는 GOOGLE COLAB 에서 실행하도록 합니다.
=> http://colab.research.google.com

* 실습 파일은 github 또는 강의게시판에 있습니다.
=> github: http://github.com/dscoool/waterai/
=> eCampus:

코드를 입력하며 같이 실습해 보도록 합시다!

실습을 할 때 주의할 점 - 반드시 손으로 코드를 일일히 타이핑해서 입력해 보고, **CTRL C + V 를 사용하지 마세요!! **코드를 복붙하면 실력이 늘지 않습니다!! 단, 주소 등은 복사, 붙여넣기 해도 되어요.

In [1]:
import numpy as np # 넘파이 - 수치 계산 라이브러리를 불러옵니다.
import pandas as pd # 판다스 - 데이터 처리, CSV 파일 입출력 라이브러리를 불러옵니다. (e.g. pd.read_csv)
import seaborn as sns # seaborn - 데이터 시각화 라이브러리입니다.
import matplotlib.pyplot as plt # matplotlib - 그래프 관련 라이브러리입니다.

# Water Quality
Access to safe drinking-water is essential to health, a basic human right and a component of effective policy for health protection. This is important as a health and development issue at a national, regional and local level. In some regions, it has been shown that investments in water supply and sanitation can yield a net economic benefit, since the reductions in adverse health effects and health care costs outweigh the costs of undertaking the interventions.


1. [Load and Check Data](#1)

1. [Variable Description](#2)
    * [Univariate Variable Analysis](#3)
        * [Categorical Variable](#4)
        * [Numerical Variable](#5)

1. [Missing Value](#6)
    * [Find Missing Value](#7)
    * [Fill Missing Value](#8)

1. [Visualization](#9)    
    
1. [Modeling](#10)

1. [Summary](#11)

<a id = "1"></a><br>
# 데이터 불러오기 및 앞부분 출력하기

In [7]:
data = pd.read_csv("https://raw.githubusercontent.com/dscoool/waterai/main/water_potability.csv") # 원본 파일의 url을 통해 파일을 불러옵니다.
data.head(10) # 데이터의 맨 앞 10줄을 보여줍니다. 숫자 변경 가능.

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0
8,NaN,118.988579,14285.583854,7.804174,268.646941,389.375566,12.706049,53.928846,3.595017,0
9,11.180284,227.231469,25484.508491,9.077200,404.041635,563.885481,17.927806,71.976601,4.370562,0

데이터를 쭉 살펴봅시다. 이 데이터는 어떤 데이터인가요?

In [8]:
data.describe() #데이터의 통계를 내 봅니다. 데이터를 묘사(describe)하는 명령입니다.

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2785.000000,3276.000000,3276.000000,3276.000000,2495.000000,3276.000000,3276.000000,3114.000000,3276.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786,0.390110
std,1.594320,32.879761,8768.570828,1.583085,41.416840,80.824064,3.308162,16.175008,0.780382,0.487849
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.093092,176.850538,15666.690297,6.127421,307.699498,365.734414,12.065801,55.844536,3.439711,0.000000
50%,7.036752,196.967627,20927.833607,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.000000
75%,8.062066,216.667456,27332.762127,8.114887,359.950170,481.792304,16.557652,77.337473,4.500320,1.000000
max,14.000000,323.124000,61227.196008,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000,1.000000

<a id = "2"></a><br>
# Variable Description

* pH : Acidity of water.
* Hardness: Hardness of water.
* Solids : Solids dissolved in water.
* Chloramines: Chloramines dissolved in water.
* Sulfate : Sulfate contained in water.
* Conductivity: Conductivity of electric of water.
* Organic Carbon : Organic Carbon dissolved in water.
* Trihalomethanes: Trihalomethanes are chemicals that may be found in water.
* Turbidity: Measure of light emitting.
* Potability: Classification of water if it is healthy or not. 1 is healthy, 0 is unhealthy.

In [ ]:
data.info()

<a id = "3"></a><br>
# Univariate Variable Analysis
* Categorical Variable: Potability
* Numerical Variable: pH, Hardness, Solids, Chloramines, Sulfate, Conductivity, Organic Carbon, Trihalomethanes, Turbidity

<a id = "4"></a><br>
## Categorical Variable

In [ ]:
plt.figure(figsize = (4,4))
sns.countplot(data = data, x = data["Potability"])
plt.show()

* We clearly see that our data is not balanced.

<a id = "5"></a><br>
## Numerical Variables:
Our numerical variables are:
* pH,
* Hardness
* Solids
* Chloramines
* Sulfate
* Conductivity
* Organic Carbon
* Trihalomethanes
* Turbidity

We should see their distribution and how they affect potability on a histogram plot.

In [ ]:
def histplot(var):
    plt.figure(figsize = (6,3))
    sns.histplot(data = data, x = data[var], hue = data.Potability)
    plt.xlabel(var)
    plt.ylabel("count")
    plt.show()

In [ ]:
numvars = ["ph","Hardness","Solids","Chloramines","Sulfate","Conductivity","Organic_carbon","Trihalomethanes","Turbidity"]
for n in numvars:
    histplot(n)

<a id = "6"></a><br>
# Missing Value

<a id = "7"></a><br>
## Find Missing Value

In [ ]:
data.isnull().sum()

<a id = "8"></a><br>
## Dropping Missing Values

In [ ]:
data = data.dropna()
data.isnull().sum()

<a id = "9"></a><br>
# Visualization

In [ ]:
numvars = ["ph","Hardness","Solids","Chloramines","Sulfate","Conductivity","Organic_carbon","Trihalomethanes","Turbidity"]
fig, axes = plt.subplots(3, 3, figsize=(9,9))

fig.suptitle('Distribution of Features')
plt.grid()
sns.boxplot(ax=axes[0, 0], data=data, x='ph')
sns.boxplot(ax=axes[0, 1], data=data, x='Hardness')
sns.boxplot(ax=axes[0, 2], data=data, x='Solids')
sns.boxplot(ax=axes[1, 0], data=data, x='Chloramines')
sns.boxplot(ax=axes[1, 1], data=data, x='Sulfate')
sns.boxplot(ax=axes[1, 2], data=data, x='Conductivity')
sns.boxplot(ax=axes[2, 0], data=data, x='Organic_carbon')
sns.boxplot(ax=axes[2, 1], data=data, x='Trihalomethanes')
sns.boxplot(ax=axes[2, 2], data=data, x='Turbidity')
plt.show()

* We can see that all our features distributed normally. Let's get to the machine learning.

<a id = "10"></a><br>
# Modeling

In [ ]:
pip install pycaret

In [ ]:
from pycaret.classification import *
clf = setup(data, target = "Potability", session_id = 786)
compare_models()

In [ ]:
model = create_model("et")
predict = predict_model(model, data=data)
predict.head()

<a id = "11"></a><br>
# Summary
Extra Trees Classifier gave the best accuracy around mostly known classifying models. So we decided to go on with it. It turned out %90 of accuracy. I've used PyCaret library in this notebook. It automatically fits all classification models to your specified data and feature and returns all the accuracies for each model.